pero es @charset "utf-8";
/* CSS Document */

{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: sand Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}


body

{
 	
	background-color:black;
		color:aliceblue
}
